/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2020-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */

/**
 * Layout
 */

/* Rows */
[data-content-type='row'] {
    @apply box-border;

    & > div {
        @apply p-2.5;
    }

    &[data-appearance='contained'] {
        @apply container;
        @apply box-border ml-auto mr-auto;

        [data-element='inner'] {
            @apply box-border;
            background-attachment: scroll !important;
        }
    }

    &[data-appearance='full-bleed'] {
        background-attachment: scroll !important;
    }

    &[data-appearance='full-width'] {
        background-attachment: scroll !important;

        > .row-full-width-inner {
            @apply container;
        }
    }
}

/* Column Groups (both needed for pagebuider backwards compatibiliy) */
[data-content-type='column-group'], [data-content-type='column-line'] {
    @apply flex-nowrap;
}

/* Columns */
[data-content-type='column'] {
    @apply box-border w-full max-w-full;
    background-attachment: scroll !important;
    flex-basis: 100%;

    @screen md {
        flex-basis: auto;
    }
}

/* Tabs/Tab Item */
[data-content-type='tabs'] {
    .tabs-navigation {
        @apply block -mb-px p-0 shadow;

        li.tab-header {
            @apply bg-gray-100 border border-b-0 border-solid border-gray-300 rounded-bl-none rounded-br-none inline-block relative my-0 mr-0 -ml-px max-w-full break-words;

            &:first-child {
                @apply ml-0;
            }

            &.active {
                @apply bg-white z-20;
                border-bottom: 1px solid white;
            }

            a.tab-title {
                @apply cursor-pointer block text-sm font-semibold relative align-middle whitespace-normal py-3 px-5;

                span {
                    @apply font-semibold leading-5 text-black;
                }
            }
        }
    }

    .tabs-content {
        @apply rounded-sm bg-container-lighter shadow box-border border border-solid border-gray-300 relative overflow-hidden z-10;

        [data-content-type='tab-item'] {
            @apply box-border p-8;
            min-height: inherit;
            background-attachment: scroll !important;
        }
    }

    &.tab-align-left {
        .tabs-content {
            border-top-left-radius: 0 !important;
        }
    }

    &.tab-align-right {
        .tabs-content {
            border-top-right-radius: 0 !important;
        }
    }
}

/**
 * Elements
 */

/* Text */
[data-content-type='text'] {
    @apply break-words;
}

/* Heading */
[data-content-type='heading'] {
    @apply break-words;
}

/* Buttons/Button Item */
[data-content-type='buttons'] {
    @apply max-w-full;

    [data-content-type='button-item'] {
        @apply max-w-full mr-2 mb-2;

        [data-element='link'],
        [data-element='empty_link'] {
            @apply max-w-full break-words;
        }

        [data-element='empty_link'] {
            @apply cursor-default;
        }

        a,
        button,
        div {
            @apply shadow-none inline-block;

            &.pagebuilder-button-link {
                @apply box-border;
            }
        }
    }
}

a,
button,
div {
    &.pagebuilder-button-primary {
        @apply btn btn-primary;
    }
    &.pagebuilder-button-secondary {
        @apply btn btn-secondary;
    }
}

/* HTML Code */
[data-content-type='html'] {
    @apply break-words;
}

/**
 * Media
 */

/* Image */
[data-content-type='image'] {
    @apply box-border;

    > [data-element='link'],
    > [data-element='link'] img {
        border-radius: inherit;
    }

    .pagebuilder-mobile-hidden {
        @apply hidden md:block;
    }

    .pagebuilder-mobile-only {
        @apply md:hidden;
    }

    figcaption {
        @apply break-words;
    }
}

/* Video */
[data-content-type='video'] {
    font-size: 0;

    .pagebuilder-video-inner {
        @apply box-border inline-block w-full;
    }

    .pagebuilder-video-container {
        @apply overflow-hidden relative;
        border-radius: inherit;
        padding-top: 56.25%;
    }

    iframe,
    video {
        @apply h-full w-full absolute left-0 top-0;
    }
}

/* Banner */
[data-content-type='banner'] {

    & > [data-element='link'], & > [data-element='empty_link'] {
        color: inherit;
        text-decoration: inherit;

        &:hover {
            color: inherit;
            text-decoration: inherit;
        }
    }

    .pagebuilder-banner-wrapper {
        @apply box-border break-words;
        background-clip: padding-box;
        border-radius: inherit;
        background-attachment: scroll !important;

        .pagebuilder-overlay {
            @apply box-border relative transition duration-500 ease-in-out p-8;

            &.pagebuilder-poster-overlay {
                @apply items-center flex justify-center;
            }

            &:not(.pagebuilder-poster-overlay) {
                @apply max-w-none md:max-w-xl;
            }
        }

        &.jarallax {
            .video-overlay {
                @apply z-0;
            }
        }

        [data-element='content'] {
            @apply overflow-auto;
            min-height: 50px;
        }

        .pagebuilder-banner-button {
            @apply transition-opacity duration-500 ease-in-out max-w-full break-words m-0 mt-5 inline-block;
            text-align: inherit;
        }

        .pagebuilder-poster-content {
            @apply w-full;
        }
    }

    &[data-appearance='collage-centered'] {
        .pagebuilder-banner-wrapper {
            .pagebuilder-overlay {
                @apply mx-auto;
            }
        }
    }

    &[data-appearance='collage-left'] {
        .pagebuilder-banner-wrapper {
            .pagebuilder-overlay {
                @apply mr-auto;
            }
        }
    }

    &[data-appearance='collage-right'] {
        .pagebuilder-banner-wrapper {
            .pagebuilder-overlay {
                @apply ml-auto;
            }
        }
    }
}

/* Slider */
[data-content-type='slider'] {
    @apply invisible relative;

    &.glider-initialized {
        @apply visible;
    }

    [data-role='glider-content'] {
        @apply overflow-y-hidden;
    }

    a.button {
        color: initial;
        padding: 10px;
        text-decoration: none;
    }

    .carousel-nav {
        @apply absolute mb-2 bottom-0 bg-gray-50 bg-opacity-75;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Slide */
[data-content-type='slide'] {
    @apply box-border overflow-hidden leading-5;
    min-height: inherit;

    & > [data-element='link'],
    & > [data-element='empty_link'] {
        color: inherit;
        min-height: inherit;
        text-decoration: inherit;

        &:hover {
            color: inherit;
            text-decoration: inherit;
        }
    }

    & + [data-content-type='slide'] {
        @apply h-0 min-h-0;
    }

    .pagebuilder-slide-wrapper {
        @apply box-border break-words;
        border-radius: inherit;
        min-height: inherit;

        .jarallax-viewport-element {
            @apply h-full absolute top-0 w-0.5 z-50;
            left: -15000vw;
        }

        &.jarallax {
            .video-overlay {
                @apply z-10;
                -webkit-transform: unset;
                z-index: 1;
            }

            .pagebuilder-overlay {
                @apply z-20 relative;
            }

            [id*='jarallax-container'] {
                > div,
                > img,
                > video,
                > iframe {
                    margin: auto !important;
                    transform: none !important;
                }
            }
        }

        .pagebuilder-overlay {
            @apply box-border p-8 transition-colors;
            border-radius: inherit;

            &.pagebuilder-poster-overlay {
                @apply items-center flex justify-center;
                min-height: inherit;
            }

            &:not(.pagebuilder-poster-overlay) {
                @apply max-w-none md:max-w-lg;
            }
        }

        [data-element='content'] {
            @apply overflow-auto;
            min-height: 50px;
        }

        .pagebuilder-slide-button {
            @apply transition-opacity m-0 mt-5 max-w-full break-words;
            text-align: inherit;
        }

        .pagebuilder-poster-content {
            @apply w-full;
        }

    }

    &[data-appearance='collage-centered'] {
        .pagebuilder-slide-wrapper {
            .pagebuilder-overlay {
                @apply mx-auto;
            }
        }
    }

    &[data-appearance='collage-left'] {
        .pagebuilder-slide-wrapper {
            .pagebuilder-overlay {
                @apply mr-auto;
            }
        }
    }

    &[data-appearance='collage-right'] {
        .pagebuilder-slide-wrapper {
            .pagebuilder-overlay {
                @apply ml-auto;
            }
        }
    }
}

/* Map */
[data-content-type='map'] {
    @apply box-border h-72;
}

/**
 * Add Content
 */

/* Block */
[data-content-type$='block'] {
    .block {
        p:last-child {
            @apply mb-4 mt-0;
        }
    }
}

/* Dynamic Block */
[data-content-type='dynamic_block'] {
    [data-content-type='image'] img {
        @apply inline;
    }

    .block-banners .banner-item-content,
    .block-banners-inline .banner-item-content {
        @apply mb-auto;
    }
}

/* Products */
[data-content-type='products'][data-appearance='carousel'] {
    [data-role='glider-content'] {
        grid-template-columns: repeat(100, calc(50% - 1rem));

        @screen md {
            grid-template-columns: repeat(100, calc(33% - 1rem));
        }

        @screen lg {
            grid-template-columns: repeat(100, calc(25% - 1rem));
        }
    }
}

/**
 * Glider
 */

.glider-contain {
    @apply w-full my-0 mx-auto relative;
}

.glider {
    @apply overflow-y-hidden;

    &.draggable {
        @apply select-none;
        cursor: grab;

        .glider-slide img {
            @apply select-none pointer-events-none;
        }
    }

    &.drag {
        cursor: grabbing;
    }

    &::-webkit-scrollbar {
        @apply opacity-0 h-0;
    }

    .glider-track {
        @apply w-full m-0 p-0 flex z-10;
    }
}

.glider-slide {
    @apply select-none justify-center content-center w-full m-2;
    min-width: 150px;

    img {
        @apply max-w-full;
    }
}

.glider-hide {
    @apply opacity-0;
}

.glider-prev,
.glider-next {
    &.disabled {
        @apply text-gray-500 opacity-25 cursor-default;
    }
}

.glider-dot {
    @apply block w-3 h-3 m-1 bg-black opacity-25 rounded-full shadow cursor-pointer;

    &.active {
        @apply opacity-100;
    }
}

@media (max-width: 36em) {
    .glider::-webkit-scrollbar {
        @apply opacity-100 w-2 h-1 appearance-none;
    }

    .glider::-webkit-scrollbar-thumb {
        @apply opacity-100;
        border-radius: 99px;
        background-color: rgba(156, 156, 156, .25);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .25);
        box-shadow: 0 0 1px rgba(255, 255, 255, .25)
    }
}

[data-show-arrows='false'] {
    .glider-prev,
    .glider-next {
        @apply hidden;
    }
}

[data-show-dots='false'] {
    .glider-dots {
        @apply hidden;
    }
}



nav.navigation * {
    &::-webkit-scrollbar{
        width: 0 !important;
    }
}

*{
    outline: none !important;
}

*:not(.navigation):not(#amblog_aside),*:not(.navigation):not(#amblog_aside) * {


    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-track{
        background: #ffffff;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color:rgb(158, 158, 158);
        border-radius: 999px;
        &:hover{
            background-color: gray;
        }
    }
}

body:not(.amrewards-index-index){
    .page-wrapper{
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
body.account {
    header.page-header{
        @apply mb-8 !important;
    }
    main#maincontent{
        @apply mb-20 !important;
    }
}


.splide__track{
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}

.prefooter,.servizi-prod-page{
    [data-content-type="text"] p{
      @apply whitespace-nowrap text-[14px] lg:text-[15px] leading-4 !important;
    }
    [data-content-type=column]{
        @apply flex justify-center !important;
    }
    [data-content-type="row"]{
        @apply w-full;
    }

    .prefooter-row{
        @apply flex flex-row items-center justify-center !important;
    }


    .prefooter-1{
        img{
            @apply w-[47px] h-[25px] !important;
        }
    }
    .prefooter-2{
        img{
            @apply w-[32px] h-[23px] !important;
        }
    }
    .prefooter-3{
        img{
            @apply w-[32px] h-[32px] !important;
        }
    }
    .prefooter-4{
        img{
            @apply w-[35px] h-[32px] !important;
        }
    }
    .prefooter-3,.prefooter-4{
        .pagebuilder-column-line{
            @apply lg:justify-end !important;
            .pagebuilder-column:nth-child(2){
                @apply lg:w-fit !important;
            }
        }
    }
}

.product-info-main .servizi-prod-page .prefooter-row{
    @apply justify-start !important;
}

.colonna-servizi{
    height: 100%;
    .pagebuilder-column{
        flex-basis: initial !important;
    }
}



.promo-static-block figure > img{
    width: 100% !important;
}

.slider-promo{
    [data-content-type=slide] .pagebuilder-slide-wrapper{
        @apply lg:bg-contain !important;
    }
}


.cms-index-index .product-slider.generic-product-slider{
    display:none;
}


.promo-slider{
    .pagebuilder-slide-wrapper{
        @apply h-[80vw] md:h-[46vw] lg:h-[27vw] lg:max-h-[418px] !important;
    }
}






/* SKIN BLOG */

.cms-index-index{
    .home-blog-quote{
        @apply block !important;
    }

    .amblog-post-list{
        .blog-list{
            @apply hidden md:grid md:grid-cols-3 !important;
        }
        .blog-slider{
            @apply block md:hidden !important ;
        }
    }
}


.amblog-index-post{
    .column.main{
        .amblog-post-content{
            a{
                color: revert !important;
                text-decoration: revert !important;
            }
            ol,ul,menu{
              list-style:revert !important;
              padding: revert !important;
              margin: revert !important;
            }
            blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre{
              padding: revert !important;
              margin: revert !important;
              font-size: revert !important;
              font-weight: revert !important;
            }
          }
    } 
    .page-title-container{
      margin: 0;
    }

  .post-main-image{
    width: 100%;
  }

}

.amblog-post-list{
    padding-left: 0 !important;
}

[class*="amblog-index"]{
    main .columns{
        @apply grid gap-6 lg:grid-cols-4 mt-7;


            .column.main{
                @apply lg:col-span-3;
            }
            aside.sidebar{
                @apply lg:col-span-1 !important;
            }

        .column.main .desktop-block{
            box-shadow: none !important;
        }
    }
    
    #splide-sidebar-promo, 
    #splide-sidebar-promo .splide__track, 
    #splide-sidebar-promo .splide__track .splide__list, 
    #splide-sidebar-promo .splide__track .splide__list .splide__slide{
        width: 100%;
        height: fit-content !important;

        [data-content-type="row"],[data-content-type="row"]>div{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 200px;
            width: 100%;
            margin: 0 !important;
            padding: 0 !important;
        }

    }

  .page-title-container{
    margin-top: 0;
  }
  

  aside>div{
    border-radius: 5px !important;
    overflow: hidden;
  }

  aside {
  
      display: flex;
      flex-direction: column;
      #blog-sidebar-custom-block{
          @apply lg:block order-1 !important;
      }
  
      .amblog-post-list .post-item-details{
          margin:0 !important;
      }
      .amblog-title{
          @apply text-secondary !important;
          span{
              @apply text-lg !important;
          }
      }
  
      
  }
}

#blog-sidebar-custom-block{
    display: none;
}


.testo-3-righe{
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita il testo a 3 righe */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.testo-2-righe{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita il testo a 3 righe */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cms-index-index{
    .amblog-post-list .short-description{
        display: -webkit-box !important;
    }
}


.cms-ricetta-online{

    .columns{
        @apply lg:container mx-[5px];
    }

    .pagebuilder-column-line{
        @apply gap-8;

    

        .form-column{
            @media screen and (max-width:1023px) {
                .fieldset-block{
                    @apply col-span-6 !important;
                }
            }

            .fieldset-block label{
                @apply lg:whitespace-nowrap;
            }
        }
    }
}


.foot-pay-desktop, .prod-page-payments{
    img{
        padding: 6px;
        height: 39px !important;
        width: 70px !important;
        border-radius: 10px;
        background-color: white;
    }
}


.home-main-slider, .home-main-slider .pagebuilder-slide-wrapper,.home-main-slider .pagebuilder-slide-wrapper .pagebuilder-overlay{
    @apply h-[104.835vw] lg:h-[341px] xl:h-[426px] 2xl:h-[440px];
}

aside.sidebar{
    .post-publish-date{
        @apply hidden !important;
    }
}


.pagebuilder-slide-wrapper, .promo-static-block {
  @apply !rounded-3xl;
}
@media (max-width:768px) {
    .pagebuilder-slide-wrapper, .promo-static-block {
       @apply !rounded-none;
    }
}


aside, .sidebar{
    overflow: hidden !important;
}