.snap {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    & > div {
        scroll-snap-align: start;
    }
}


.pagebuilder-slider .splide__pagination{
    bottom: 1.5em !important;
}


.homepage-mainslider{
    .pagebuilder-slider{
        max-width: 1513px !important;
        width: 100% !important;
        margin: 0 auto;

        .pagebuilder-slide-wrapper{
            @apply h-[100vw] md:h-[30vw] md:max-h-[459px];
        }

    }

}